@model E_commerce.ViewModels.ForgotPasswordViewModel

@{
    Layout = "_LayoutAccount";
}

<form asp-action="ForgotPassword" method="post" class="w-50 mx-auto mt-5">
    <h3 class="mb-3">Quên mật khẩu</h3>

    <!-- THÔNG BÁO -->
    @if (TempData["Success"] != null)
    {
        <div class="alert alert-success">
            @TempData["Success"]
        </div>
    }

    @if (TempData["Error"] != null)
    {
        <div class="alert alert-danger">
            @TempData["Error"]
        </div>
    }

    <input asp-for="Email"
           class="form-control mb-2"
           placeholder="Nhập email đã đăng ký" />

    <span asp-validation-for="Email" class="text-danger"></span>

    <button class="btn btn-warning w-100">
        Gửi link reset
    </button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
