@model E_commerce.ViewModels.ResetPasswordViewModel
@{
    Layout = "_LayoutAccount";
}
<form asp-action="ResetPassword" method="post" class="w-50 mx-auto mt-5">
    <input type="hidden" asp-for="Token" />

    <input asp-for="NewPassword"
           type="password"
           class="form-control mb-2"
           placeholder="Mật khẩu mới" />

    <input asp-for="ConfirmPassword"
           type="password"
           class="form-control mb-2"
           placeholder="Nhập lại mật khẩu" />

    <button class="btn btn-success w-100">
        Đổi mật khẩu
    </button>
</form>
